<% layout('layouts/boilerplate') %>
    <h1>Edit Campground</h1>

    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <div>
            <label for="titile">Title</label>
            <input type="text" name="campground[title]" id="titile" value="<%=campground.title%>">
        </div>

        <div>
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location" value="<%= campground.location%>"
                placeholder="city, state">
        </div>

        <div>
            <label for="price">Price</label>
            <input type="text" name="campground[price]" id="price">
        </div>

        <div>
            <label for="description">Description</label>
            <input type="text" name="campground[description]" id="description">
        </div>

        <button>Submit Changes</button>
    </form>

    <a href="/campgrounds/">Back to Campgrounds</a>