<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Create New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="titile">Title: </label>
                    <input type="text" class="form-control" name="campground[title]" id="titile">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Location: </label>
                    <input type="text" class="form-control" name="campground[location]" id="location"
                        placeholder="city, state">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Price: </label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" name="campground[price]" id="price" placeholder="0.00"
                            aria-label="Price (to the nearest dollar)" aria-describedby="price-label">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="image">Image Url: </label>
                    <input type="text" class="form-control" name="campground[image]" id="image">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea type="text" class="form-control" name="campground[description]" id="description">
                    </textarea>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary">Add Campground</button>
                </div>
            </form>

            <a href=" /campgrounds">All Campgrounds</a>
        </div>
    </div>